<h1>Este es el home</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio fugiat magnam recusandae cum inventore sequi
  totam facilis? Fugit sit voluptatibus earum corporis nulla! Cumque, sit consequatur soluta numquam corporis maxime.
</p>