<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Mi primera pagina en handlebars</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>


<body>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about-us">Sobre nosotros</a></li>
    <li><a href="/services">Estos son mis servicios</a></li>
  </ul>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about-me">Sobre mi</a></li>
    <li><a href="/projects">Estos son mis proyectos</a></li>
  </ul>

  {{{body}}}

  <footer>
    <h3>Esto es <b>un pie de pagina</b></h3>
  </footer>

</body>

</html>